{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
        Bienvenido
{% endblock %}


{% block content %}

    {% if username %}

        <h1>Welcome, {{ username | capitalize }}</h1>
    
    {% else %}

        <h3>Sorry we can't get you your Name</h3>

    {% endif %}
    

    {% if user_ip %}

        <h3>Your IP is {{ user_ip }}</h3>

    {% else %}

        <h3>Sorry we can't get you your IP</h3>

    {% endif %}


    <ul>
        {% for TODO in TODOS %}
            {{ macros.render_todo(TODO) }}
        {% endfor %}
    </ul>

    <div class="container">

        <form action="{{ url_for('hello')}}" method="POST">
            <div class="form-group">
                {{ login_form.username.label }}
                {{ login_form.username }}
            </div>
            <div class="form-group">
                {{ login_form.password.label }}
                {{ login_form.password }}
            </div>
            
            {{ login_form.submit }}
            
          </form>        

    </div>
{% endblock %}
